@import './css/_variables.scss';

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }

  button {

  }
}

.main-wrapper {
  display: flex;
}
