@import './css/_variables.scss';

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: $text;
  color: $neutral;
  background: $black-light;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }

  button {
    padding: 0.5rem 0;
    font-family: $text;
    font-size: 1.5rem;
    border: none;
    background: $neutral;
    outline: none;
  }

  button:hover {
    color: white;
    background: $primary;
  }
}

.main-wrapper {
  display: flex;
}
