@import './_variables.scss';

.allotment-gui-wrapper {
  position: fixed;
  border-radius: 5px;
  padding: 1rem;
  width: 25rem;
  min-height: 4rem;
  top: 0;
  left: 0;
  background: $black;
  font-size: 0.5rem;
}

.allotment button {
  text-align: center;
  background: $black-light;
  border: none;
}

.fa-plus {
  color: lime;
  margin-right: 0.5rem;
}


foreignObject {
  display: none;
}

.show {
  display:block;
}

