@import './_variables.scss';

.allotment-gui-wrapper {
  position: fixed;
  border-radius: 5px;
  padding: 1rem;
  width: 15rem;
  min-height: 3.2rem;
  top: 0;
  left: 0;
  background: $black;
  font-size: 1.25rem;

  button {
    text-align: center;
    background: none;
    border: none;
    padding: 0.5rem;
  }
}

.fa-plus {
  color: lime;
  margin-right: 0.5rem;
}


foreignObject {
  display: none;
}

.show {
  display:block;
}

