@import './_variables.scss';

.board {
  flex-basis: 85%;
  margin: 0.5rem;
  text-align: center;
  height: calc(100vh - 1rem - 2px);
  overflow: scroll;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-drag: element;
  user-drag: element;
}

.board,
svg {
  fill: $black;
  background: $black;
}

svg g {
  position: relative;
  fill: $neutral;
  fill-opacity: 0.8;
}

svg g:hover {
  fill-opacity: 1;
}

svg g polygon {
  stroke: $neutral-dark;
  stroke-width: 0.1;

}

svg g text {
  font-size: 0.18em;
  fill: white;
  fill-opacity: 1;
}

  //PLAYER CLASS COLORS
.hex-fill-red {
  fill: $player-red;
}

.hex-fill-orange {
  fill: $player-orange;
}

.hex-fill-yellow {
  fill: $player-yellow;
}

.hex-fill-green {
  fill: $player-green;
}

.hex-fill-blue {
  fill: $player-blue;
}

.hex-fill-black {
  fill: $black;
}

// Don't know what this did
// svg path {
//   fill: none;
//   stroke: hsl(60, 20%, 70%);
//   stroke-width: 0.4em;
//   stroke-opacity: 0.3;
//   stroke-linecap: round;
//   stroke-linejoin: round;
// }

.highlight-attack {
  stroke: red;
  stroke-width: 0.25;
}
