@import './_variables.scss';

.channel-list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: $black-light;
}

.channel-list {
  width: 80%;
  height: 80%;
  background: $black;
  padding: 2.5rem;
  overflow: scroll;

}

.channel {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
  background: $black-light;

  button {
    padding: 0.5rem 1rem;
    background: $neutral;
    color: $black;
  }

  p {
    min-width: 10rem;
  }
}


.channel.titles {
  background: $neutral;
  color: $black-light;

  &:hover {
    background: $neutral;
  }
}

.channel:hover {
  background: $black-dark;
}
