@import './_variables.scss';

.show-combat {

}

.combat-gui-wrapper {

}

.combat {
  // flex-basis: 15%;
  display: flex;
  margin: 0.5rem;
  // width: calc(100vw - 1rem - 2px);
  background: $black;
}

.player-container {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.enemy-container {
  display: flex;
  flex-direction: row-reverse;
  align-self: center;
}

.option-container {
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
  background: $black-light;
  margin: 0.5rem 0.25rem 0.5rem 0.25rem;
  justify-content: space-around;

  label {
    font-size: 2.5rem;
    text-align: center;
  }
}

.unit-container {
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
  background: $black-light;
  margin: 0.5rem 0.25rem 0.5rem 0.25rem;
  justify-content: space-around;

  label {
    font-size: 1.5rem;
    text-align: center;
  }

  h2 {
    font-size: 4rem;
    margin: 2rem;
  }
}

.enemy-unit-container {
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
  background: $black-light;
  margin: 0.5rem 0.25rem 0.5rem 0.25rem;
  justify-content: space-around;

  label {
    font-size: 1.5rem;
    text-align: center;
  }

  h2 {
    font-size: 4rem;
    margin: 2rem;
  }
}

.roll-container {
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
  justify-content: center;
  align-items: center;
}

.die-container {
  display: flex;
  flex-direction: row;
  background: $black-light;
  align-items: center;
  justify-content: space-around;
  margin: 0.5rem;

  img {
    width: 15%;
    border-radius: 50%;
  }

  label {
    font-size: 3rem;
  }
}

.enemy-die-container {
  display: flex;
  flex-direction: row-reverse;
  background: $black-light;
  align-items: center;
  justify-content: space-around;
  margin: 0.5rem;

  img {
    width: 15%;
    border-radius: 50%;
  }

  label {
    font-size: 3rem;
  }
}

.result {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-self: center;
  background: $black-light;
  margin: 0.5rem 0.25rem 0.5rem 0.25rem;
  padding: 3rem;

  label {
    font-size: 2rem;
  }
}
