@import './_variables.scss';

#combat-wrapper {
  position: fixed;
  display: flex;
  top: 0;
  z-index: 999;
}

#combat-gui {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: $black-light;
  // opacity: 0.5;
  z-index: 999;
}

.back-pannel {
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  background: $black-light;

}

.combat {
  // flex-basis: 15%;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  // width: calc(100vw - 1rem - 2px);
  background: $black;
  opacity: 1;
  border-radius: 5px;
  border: 1px solid $neutral-dark;
}

.player-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 40vh;
}

.enemy-container {
  display: flex;
  flex-direction: column-reverse;
  align-self: center;
  width: 40vh;

}

.option-container {
  display: flex;
  flex-direction: column;
  background: $black-light;
  justify-content: space-around;
  padding: 1rem 0;

  label {
    font-size: 2.5rem;
    text-align: center;
  }
}

.unit-container,
.enemy-unit-container {
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
  justify-content: space-around;

  label {
    padding: 1rem 0;
    font-size: 2.5rem;
    text-align: center;
  }
}

.roll-container {
  display: flex;
  flex-basis: 33%;
  justify-content: center;
  align-items: center;
}

.die-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0.5rem;

  label {
    font-size: 6rem;
  }
}

.enemy-die-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  margin: 0.5rem;

  img {
    width: 15%;
    border-radius: 50%;
  }

  label {
    font-size: 6rem;
  }
}

.result-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-self: center;
  background: $black-light;
  padding: 3rem;
  font-size: 1.5rem;
  min-width: 40rem;

  label {
    font-size: 2.5rem;
  }

  button {
    margin: 0.5rem 0;
  }
}
