@import './_variables.scss';

.credits-wrapper {
  display: flex;
  background: $black;
  flex-direction: column;
  padding: 0 2rem;

  h1 {
    font-size: 4rem;
    text-align: center;
    font-family: $title;
  }

  h2 {
    font-size: 3rem;
    font-family: $title;
    text-indent: 4rem;
  }

  h3 {
    font-size: 2.5rem;
    font-family: $title;
    text-indent: 4rem;
  }

  p {
    font-size: 2rem;
  }

  a {
    // font-size: 2rem;
    color: $neutral-dark;
    text-decoration: none;
  }

  a:hover {
    color: $primary;
  }
}
