@import './_variables.scss';

.modal-wrapper {
  position: absolute;
  top: -1rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0px;
  justify-content: center;
  // align-items: center;
  // width: 100vw;
  // // height: 100vh;
  // background: $black-light;

  width: 100%;
  // background: $black;
  padding: 2.5rem;

  h3 {
    font-family: $title;
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  background: $black-light;
  border-radius: 5px;
  width: 100%;

  width: 80%;
  height: 80%;
  padding: 2.5rem;

  p {
    font-size: 2rem;
    font-family: $text;
    padding-top: 0;
  }
}
