@import './_variables.scss';

.modal-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 1rem;
  padding: 0 auto;
  margin: 0 auto;
  width: 75%;

  h3 {
    font-family: $title;
    font-size: 2rem;
    margin: 0;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  background: $black-light;
  border-radius: 5px;
  border: 1px solid $neutral;
  width: 100%;

  width: 80%;
  height: 80%;
  padding: 1rem 2rem;

  p {
    font-size: 1.8rem;
    font-family: $text;
    padding-top: 0;
  }
}
