@import './_variables.scss';

.room-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: $black;
  flex-direction: column;
  z-index: 0;

  h1 {
    font-size: 3rem;
    text-align: center;
    font-family: $title;
  }

  p, .text {
    font-size: 3rem;
    text-align: center;
    font-family: $title;
  }

  .center {
    text-align: center;
  }

  div > button {
    font-size: 2rem;
    padding: 1rem;
    background: $black;
    color: $neutral;
  }

  button:hover {
    background: $primary;
  }


}

#waiting-room {
  width: 75vw;
  height: 75vh;
  background: $neutral;
  color: $black;
  justify-content: center;
  align-items: center;
  display: flex;

  .waiting-room-content {
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
  }
}

.max-players {
  display: flex;
  justify-content: center;
  align-items: center;

  label {
    font-size: 3rem;
    margin-right: 1rem;
  }

  input[type=number] {
    background: $neutral;
    border: 1px solid $black-light;
    border-radius: 5px;
    color: $black-light;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}


.gameSettings {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    justify-content: center;
    align-items: center;

    label {
      font-size: 3rem;
      margin-right: 1rem;
    }

    select {
      font-size: 2.5rem;
      background: $black-light;
      color: $neutral;
    }

    input[type=number] {
      background: $neutral;
      border: 1px solid $black-light;
      border-radius: 5px;
      color: $black-light;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

