@import './_variables.scss';

.settings-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: $black;
}


.settings {
  width: 75vw;
  height: 75vh;
  background: $neutral;

  form {
    text-align: center;
  }

  h1 {
    color: $black;
    text-align: center;
  }

  h3 {
    color: $black;
  }
}
