@import url('https://fonts.googleapis.com/css?family=Montez|Monsteratt');

$black: #222;
$neutral: #ddd;
$neutral-dark: $neutral / 1.4;
$primary: rgb(180, 0, 0);
$title: 'Montez', cursive;
$text: 'Monsteratt', helvetica, sans serif;
